In [53]:
import pandas as pd

In [54]:
data = pd.read_csv('../data/train.csv', sep=';')

In [55]:
data.head()

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,FORCE_2020_LITHOFACIES_LITHOLOGY,FORCE_2020_LITHOFACIES_CONFIDENCE
0,15/9-13,494.528,437641.96875,6470972.5,-469.501831,NORDLAND GP.,NaN,19.480835,NaN,1.611410,...,34.636410,NaN,NaN,-0.574928,NaN,NaN,NaN,NaN,65000,1.0
1,15/9-13,494.680,437641.96875,6470972.5,-469.653809,NORDLAND GP.,NaN,19.468800,NaN,1.618070,...,34.636410,NaN,NaN,-0.570188,NaN,NaN,NaN,NaN,65000,1.0
2,15/9-13,494.832,437641.96875,6470972.5,-469.805786,NORDLAND GP.,NaN,19.468800,NaN,1.626459,...,34.779556,NaN,NaN,-0.574245,NaN,NaN,NaN,NaN,65000,1.0
3,15/9-13,494.984,437641.96875,6470972.5,-469.957794,NORDLAND GP.,NaN,19.459282,NaN,1.621594,...,39.965164,NaN,NaN,-0.586315,NaN,NaN,NaN,NaN,65000,1.0
4,15/9-13,495.136,437641.96875,6470972.5,-470.109772,NORDLAND GP.,NaN,19.453100,NaN,1.602679,...,57.483765,NaN,NaN,-0.597914,NaN,NaN,NaN,NaN,65000,1.0

In [56]:
data.columns

Index(['WELL', 'DEPTH_MD', 'X_LOC', 'Y_LOC', 'Z_LOC', 'GROUP', 'FORMATION',
       'CALI', 'RSHA', 'RMED', 'RDEP', 'RHOB', 'GR', 'SGR', 'NPHI', 'PEF',
       'DTC', 'SP', 'BS', 'ROP', 'DTS', 'DCAL', 'DRHO', 'MUDWEIGHT', 'RMIC',
       'ROPA', 'RXO', 'FORCE_2020_LITHOFACIES_LITHOLOGY',
       'FORCE_2020_LITHOFACIES_CONFIDENCE'],
      dtype='object')

In [61]:
data = pd.concat([data, pd.get_dummies(data.GROUP)], axis=1); data

,WELL,DEPTH_MD,X_LOC,Y_LOC,Z_LOC,GROUP,FORMATION,CALI,RSHA,RMED,...,HEGRE GP.,HORDALAND GP.,NORDLAND GP.,ROGALAND GP.,ROTLIEGENDES GP.,SHETLAND GP.,TYNE GP.,VESTLAND GP.,VIKING GP.,ZECHSTEIN GP.
0,15/9-13,494.5280,437641.96875,6470972.5,-469.501831,NORDLAND GP.,NaN,19.480835,NaN,1.611410,...,0,0,1,0,0,0,0,0,0,0
1,15/9-13,494.6800,437641.96875,6470972.5,-469.653809,NORDLAND GP.,NaN,19.468800,NaN,1.618070,...,0,0,1,0,0,0,0,0,0,0
2,15/9-13,494.8320,437641.96875,6470972.5,-469.805786,NORDLAND GP.,NaN,19.468800,NaN,1.626459,...,0,0,1,0,0,0,0,0,0,0
3,15/9-13,494.9840,437641.96875,6470972.5,-469.957794,NORDLAND GP.,NaN,19.459282,NaN,1.621594,...,0,0,1,0,0,0,0,0,0,0
4,15/9-13,495.1360,437641.96875,6470972.5,-470.109772,NORDLAND GP.,NaN,19.453100,NaN,1.602679,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170506,7/1-2 S,3169.3124,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.423170,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
1170507,7/1-2 S,3169.4644,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.379244,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
1170508,7/1-2 S,3169.6164,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.350248,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
1170509,7/1-2 S,3169.7684,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.313779,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
1170510,7/1-2 S,3169.9204,NaN,NaN,NaN,VESTLAND GP.,Bryne Fm.,8.294910,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0

In [59]:
data.columns

Index(['WELL', 'DEPTH_MD', 'X_LOC', 'Y_LOC', 'Z_LOC', 'GROUP', 'FORMATION',
       'CALI', 'RSHA', 'RMED', 'RDEP', 'RHOB', 'GR', 'SGR', 'NPHI', 'PEF',
       'DTC', 'SP', 'BS', 'ROP', 'DTS', 'DCAL', 'DRHO', 'MUDWEIGHT', 'RMIC',
       'ROPA', 'RXO', 'FORCE_2020_LITHOFACIES_LITHOLOGY',
       'FORCE_2020_LITHOFACIES_CONFIDENCE', 'BAAT GP.', 'BOKNFJORD GP.',
       'CROMER KNOLL GP.', 'DUNLIN GP.', 'HEGRE GP.', 'HORDALAND GP.',
       'NORDLAND GP.', 'ROGALAND GP.', 'ROTLIEGENDES GP.', 'SHETLAND GP.',
       'TYNE GP.', 'VESTLAND GP.', 'VIKING GP.', 'ZECHSTEIN GP.'],
      dtype='object')

In [31]:
workingdf = data.loc[:,['GROUP','WELL']]

In [32]:
workingdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170511 entries, 0 to 1170510
Data columns (total 2 columns):
GROUP    1169233 non-null object
WELL     1170511 non-null object
dtypes: object(2)
memory usage: 17.9+ MB

In [33]:
dummies = pd.get_dummies(workingdf.GROUP)

In [38]:
workingdf = pd.concat([workingdf, dummies.reindex(workingdf.index)], axis=1)

In [39]:
workingdf

,GROUP,WELL,BAAT GP.,BOKNFJORD GP.,CROMER KNOLL GP.,DUNLIN GP.,HEGRE GP.,HORDALAND GP.,NORDLAND GP.,ROGALAND GP.,ROTLIEGENDES GP.,SHETLAND GP.,TYNE GP.,VESTLAND GP.,VIKING GP.,ZECHSTEIN GP.
0,NORDLAND GP.,15/9-13,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,NORDLAND GP.,15/9-13,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,NORDLAND GP.,15/9-13,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,NORDLAND GP.,15/9-13,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,NORDLAND GP.,15/9-13,0,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170506,VESTLAND GP.,7/1-2 S,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1170507,VESTLAND GP.,7/1-2 S,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1170508,VESTLAND GP.,7/1-2 S,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1170509,VESTLAND GP.,7/1-2 S,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1170510,VESTLAND GP.,7/1-2 S,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [20]:
merged = pd.concat([workingdf, dummies], axis='columns')

In [26]:
dummies.columns

Index(['BAAT GP.', 'BOKNFJORD GP.', 'CROMER KNOLL GP.', 'DUNLIN GP.',
       'HEGRE GP.', 'HORDALAND GP.', 'NORDLAND GP.', 'ROGALAND GP.',
       'ROTLIEGENDES GP.', 'SHETLAND GP.', 'TYNE GP.', 'VESTLAND GP.',
       'VIKING GP.', 'ZECHSTEIN GP.'],
      dtype='object')